{
  "channel": "{{ .Channel }}",
  "text": "<{{ .Compare }}|{{ .Commits | len }} new commits> pushed to `<{{ .URL }}|{{ .Repository }}>` by <{{ .Sender.URL }}|{{ .Sender.Login }}>",
  "attachments": [
     {
       "text": "{{ range .Commits }}`<{{ .URL }}|{{ .Ref }}>` - {{ .Message }}\n{{ end }}",
       "color": "#000"
     }
   ],
   "unfurl_links": false,
   "unfurl_media": false
}
