{
  "channel": "{{ .Channel }}",
  {{- if ne .ThreadTimestamp "" }}
  "thread_ts": "{{ .ThreadTimestamp }}",
  "reply_broadcast": true,
  {{ end }}
  "text": "{{ if .Draft }}Draft pull request{{ else }}Pull request{{ end }} <{{ .Attachment.URL }}|#{{ .Number }}> {{ .Action }} in `<{{ .Repository.URL }}|{{ .Repository.Name }}>` by <{{ .Sender.URL }}|{{ .Sender.Login }}>",
  "attachments": [
     {
       "text": "*<{{ .Attachment.URL }}|#{{ .Number }}> <{{ .Attachment.URL }}|{{ .Attachment.Title }}>*{{ if eq .Action "opened" }}\n{{ .Attachment.Body }}{{ end }}",
       "color": "{{ .Color }}"
     }
  ],
  "unfurl_links": false,
  "unfurl_media": false
}
