{
  "channel": "{{ .Channel }}",
  "text": "<{{ .Sender.URL }}|{{ .Sender.Login }}> renamed the repository `{{ .From }}` to <{{ .To.URL }}|{{ .To.Name }}>.",
  "unfurl_links": false,
  "unfurl_media": false
}
