{
  "channel": "{{ .Channel }}",
  "text": "Team <{{ .Team.URL }}|{{ .Team.Name }}> was {{ .Action }} the repository <{{ .Repository.URL }}|{{ .Repository.Name }}>.",
  "unfurl_links": false,
  "unfurl_media": false
}
