{
  "channel": "{{ .Channel }}",
  "text": ":x: The workflow <{{ .Workflow.URL }}|#{{ .Workflow.RunNumber }} {{ .Workflow.Title }}> triggered by <{{ .Sender.URL }}|{{ .Sender.Login }}> in the repository <{{ .Repository.URL }}|{{ .Repository.Name }}> has the status `{{ .Workflow.Conclusion }}`",
  {{- if .FailedJob }}
  "attachments": [
     {
       "text": "Failed job:\n- <{{ .FailedJob.URL }}|{{ .FailedJob.Name }}>",
       "color": "#d02434"
     }
  ],{{ end }}
  "unfurl_links": false,
  "unfurl_media": false
}
