name: Lint teams

on:
  push:
    branches-ignore:
      - main
    paths:
      - ".nais/teams.yaml"
      - ".github/workflows/linting.yaml"

jobs:
  lint-teams:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - name: Lint the yaml
        run: yamllint -c .yamllint.yaml .nais/teams.yaml
      - name: Validate it
        run: go run cmd/validate/validate.go .nais/teams.yaml
