name: Lint teams

on:
  push:
    branches-ignore:
      - main
    paths:
      - '.nais/teams.yaml'
      - '.github/workflows/linting.yaml'

jobs:
  lint-teams:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install --save-dev --save-exact prettier
      - run: npm run prettier --check .nais/teams.yaml
