name: Redeliver failed webhook deliveries

on:
  schedule:
    - cron: "40 */6 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  redeliver-failed-deliveries:
    name: Redeliver failed deliveries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6

      - uses: navikt/github-app-token-generator@b96ff604b2300989cd1105e3fad09199fca56681 # ratchet:navikt/github-app-token-generator@v1
        id: get-token
        with:
          app-id: "${{ secrets.REDELIVERY_APP_ID }}"
          private-key: "${{ secrets.REDELIVERY_PRIVATE_KEY }}"

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v6
        with:
          node-version: "18.x"

      - run: npm install octokit

      - name: Run script
        env:
          APP_ID: ${{ secrets.APP_ID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          TOKEN: ${{ steps.get-token.outputs.token }}
          LAST_REDELIVERY_VARIABLE_NAME: "LAST_REDELIVERY_EVENT"
          WORKFLOW_REPO: ${{ github.event.repository.name }}
          WORKFLOW_REPO_OWNER: ${{ github.repository_owner }}
        run: |
          node .github/workflows/scripts/redeliver-failed-deliveries.mjs
