name: Deploy teams config

on:
  push:
    branches:
      - main
    paths:
      - '.nais/teams.yaml'
      - '.github/workflows/update_teams.yaml'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: nais/deploy/actions/deploy@v2
      env:
        CLUSTER: prod-gcp
        RESOURCE: .nais/teams.yaml
